<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>CAH Workshopper</title>
<link href="StyleSheet.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="jquery-csv-main\src\jquery.csv.js"></script>
<script src="script.js"></script>
</head>
<body>
  <div class="container">
    <div class="white">
      <form >
        <textarea autofocus maxlength="100" id="cardIdea" placeholder="White card"></textarea>
        <input type="button" onclick="generate()" value="Try it">
      </form>
      </div>
    <div class="black">
      <div class="card" id="1">test</div>
      <div class="card" id="2">test</div>
      <div class="card" id="3">test</div>
      <div class="card" id="4">test</div>

    </div>
  </div>
</body>
